<style>
  header {
      background-color: #d2d8d3;
      color: #fff;
      padding: 10px 0;
  }
  nav ul {
      list-style: none;
      padding: 30px;
      text-align: right;
  }
  nav ul li {
      display: inline;
      margin-right: 20px;
  }
  nav ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
  }
</style>
<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a style="color:#4e804f;" href="{{site.baseurl}}/Home">Home</a></li>
        <li class="fork"><a style="color:#4e804f;" href="{{site.baseurl}}/compsci">CompSci</a></li>
        <li class="fork"><a style="color:#4e804f;" href="{{site.baseurl}}/myjourney">My Journey</a></li>
        <li class="fork"><a style="color:#4e804f;" href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="title"><a style="color:#4e804f;" href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a style="color:#4e804f;" href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>